@model IEnumerable<RamExpress.Models.Product>

@{
    ViewData["Title"] = "Index";
}



<!--Products-->

<section style="" class="container-fluid">
    <div class="text-center container py-5">
        <h4 class="mt-4 mb-5"><strong>Search Result</strong></h4>

        <div class="row">
            @if(Model!=null)
            {
                <h5>No products found</h5>
            }
            @foreach (var item in Model)
            {
              
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card" style="height:610px">
                            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                 data-mdb-ripple-color="light" style="align-items:center">
                                <img src="@item.Image"
                                     class="w-100" style="width:300px; height:350px" />
                                <a href="#!">

                                    <div class="hover-overlay">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="" class="text-reset">
                                    <h5 class="card-title mb-3">@item.ProductName</h5>
                                </a>
                                <a href="" class="text-reset">
                                    @*     <p>@item.Category.SubCategoryName</p>*@
                                </a>
                                <h6 class="mb-3">$@item.Price</h6>
                                <button class="btn btn-warning ">Add Cart</button>
                                <button class="btn btn-danger ">Buy Now</button>
                            </div>
                        </div>
                    </div>
                
              
            }



        </div>


    </div>
</section>